shoujiduan03/client/ciphercode
shoujiduan03/frameworks/runtime-src/proj.android/assets
shoujiduan03/frameworks/runtime-src/proj.android/obj
shoujiduan03/frameworks/runtime-src/proj.android/bin
shoujiduan03/frameworks/runtime-src/proj.android/gen
shoujiduan03/publish
shoujiduan03/frameworks/cocos2d-x/cocos/platform/android/java/bin
shoujiduan03/frameworks/cocos2d-x/cocos/platform/android/java/gen