<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>plist9_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1260},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1890},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,630},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1260},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1890},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,0},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,0},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2160,0},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2700,0},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,630},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1260},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1890},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,630},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2160,630},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2700,630},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1260},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1890},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2160,1260},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
			<key>plist9_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2160,1890},{540,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{540,630}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist9.png</string>
			<key>realTextureFileName</key>
			<string>Plist9.png</string>
			<key>size</key>
			<string>{3240,2520}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>3240</integer>
			<key>height</key>
			<integer>2520</integer>
		</dict>
	</dict>
</plist>